Code - OSS/
BraveSoftware/
cava/
dconf/
go/
gtk-3.0/
neofetch/
nitrogen/
pulse/
systemd/
OpenRGB/
waypaper/
kde.org/
session/
miopen/
VirtualBox/

hypr/hyprpaper.conf
mimeapps.list
QtProject.conf
user-dirs.dirs
user-dirs.locale
dolphinrc
trashrc
hypr/hyprpaper.conf
kwalletrc